<p>form works!</p>
<div>
    <form [formGroup]="registerForm" (ngSubmit)="OnSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control"
            formControlName="email"
            
            [class.is-invalid]="validateControl('email')">
             <!-- class="form-control is-invalid" -->
             <span *ngIf="validateControlError('email','required')" class="text-danger">Email is manadatory</span>
             <span *ngIf="validateControlError('email','email')" class="text-danger">Email is invalid</span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control"
            formControlName="password"
            [class.is-invalid]="validateControl('password')">
            <span *ngIf="validateControlError('password','required')" class="text-danger">Password is manadatory</span>
        </div>
            
            
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control"
            formControlName="confirmPassword"
            [class.is-invalid]="validateControl('confirmPassword')">
            <span *ngIf="validateControlError('confirmPassword','passwordMismatch')" class="text-danger">Password and Confirm Password should match</span>
        </div>
            

        <button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid">Register</button>   

    </form>
</div>
