<h3>The products are</h3>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Soap</td>
            <td>100/-</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Toothpaste</td>
            <td>120/-</td>
        </tr>
        <tr>
            <td>3</td>
            <td>ToothBrush</td>
            <td>50/-</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Detergent</td>
            <td>150/-</td>
        </tr>
    </table>
</div>

<hr>