<!-- <p>card works!</p> -->
<div class="card" style="width: 18rem;">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <!-- <h5 class="card-title">Card title</h5> -->
    <p class="card-text">ID:{{eachProduct.id}}</p>
    <p class="card-text">Product Name:{{eachProduct.name}}</p>
    <p class="card-text">Product Price:{{eachProduct.price}}</p>
    <button class="btn btn-danger" (click)="OnDeleteButtonClicked(eachProduct.id)">Delete</button>
    <button class="btn btn-primary" (click)="OnUpdateButtonClicked(eachProduct.id)">Update</button>
  </div>
</div>
